
.connectedDevicesContent{}
.devicesUl{border-top: 1px solid #ddd;border-bottom: 2px solid #ddd;overflow: hidden;box-sizing:border-box;}
.devicesUl li{float: left;width:33.33%;padding:5px 0;}
.devicesUl li p{text-align:center;margin: 0;font-size: 1.5rem;color:#AB9A9B;}
.devicesUl .devicesUnknown p.current,.devicesUl .devicesOnline p.current,.devicesUl .devicesOffline p.current{
  color:#69A3F0;font-weight: 600;
}
.devicesUl li.devicesUnknown p,.devicesUl li.devicesOnline p{border-right: 2px solid #ddd}
.devicesContentBox{display: none;}
.devicesContentBox.current{display: block;}
.devicesContentBox .devicesUnknownTitle p{color:#FAD255;text-align: center;font-size: 3.5em;margin:0;padding:30px 0 10px 0}
.devicesContentBox .devicesUnknownTitle p:last-child{font-size: 1em;color:#888;padding-top: 10px;}

.DeviceListUl{padding:5px 15px 0px 15px;box-sizing:border-box;}
.DeviceListUl img{vertical-align: bottom;}
.DeviceListUl li{overflow:hidden;position:relative;padding-bottom:5px;}
.DeviceListUl li>div{padding:5px 0;}
.DeviceListUl li:first-child{padding-top:0;}
.DeviceListUl li>div{overflow: hidden;}
.DeviceListUl li s{width: 94%;margin: 0 auto;border-bottom: 2px solid #ddd;display: block;}
.DeviceListUl .deviceItemContainer{
  position:relative;
}
.DeviceListUl .DeviceListImg,.DeviceListUl .DeviceListContent{float:left;}
.DeviceListUl .DeviceListImg{position:relative; width:18%;}
.DeviceListUl .DeviceListContent{padding-left: 10px;width:81%;}
.DeviceListUl .DeviceListContent p{margin: 0;font-size: 0.6rem;color:#aaa;overflow: hidden; text-overflow:ellipsis; white-space:nowrap;}
.DeviceListUl .DeviceListContent .contentTitle{font-size: 1.3rem;color:#333;padding:0 0 5px 10px;padding:0 10px;}
.DeviceListUl .DeviceListSignal{position:absolute;right:0;top:0;}
.DeviceListUl .DeviceListSignal p{margin:0;padding:0;text-align: center;font-size: 1.4em;}
.DeviceListUl li:last-child s {display: none;}
.offlineDeviceTitle{border-top: 1px solid #555;margin:0;text-align: center;color:#FF2600;padding:5px 0;padding-left: 30px;border-bottom: 1px solid #aaa;}
.offlineDeviceTitle s{float:right;width:0;height:0px;border: 8px solid #888;border-left-color:transparent;border-right-color:transparent; border-bottom: 0px;margin-right: 30px;margin-top: 4px;}

#devicesSpeeds{padding:1rem;}
.devicesSpeedsTop>p{margin:0;}
.devicesSpeedsTop .speedsTitle{font-size: 2em;color:#69A3F0;text-align: center;margin: 0.6rem 0;font-weight: 600}
.devicesSpeedsTop .speedsState{font-size: 1.5rem;color:#888;text-align: center;}
.devicesSpeedsTop .speedsGrade{display:inline-block;}
.connectedDevicesSpeedsContainer{position:relative;}
.closeSingleSpeedsBtn{
  position:absolute;
  font-size:1.7rem;
  top:0;right:0;
}
