.wiFiInsightContent{overflow: hidden;margin-top: 50px;margin-bottom: 50px;width:100%;box-sizing: border-box;}
.wiFiInsightContentUl{border-bottom: 2px solid #ddd;overflow: hidden;padding: 0;}
.wiFiInsightContentUl li{float: left;width:40%;padding: 0;margin:0;padding: 5px 0;}
.wiFiInsightContentUl li:first-child{width:36%;}
.wiFiInsightContentUl li:last-child{width:23%;}

.wiFiInsightContentUl li p{margin: 0;text-align: center;font-size:1.4rem;color:#AB9A9B; }
.wiFiInsightContentUl li p.current{font-weight: 700;color:#69A3F0}
.wiFiInsightContentUl li.wiFiInsightChannelScan p,.wiFiInsightContentUl li.wiFiInsightAvailableCapacity p{border-right: 2px solid #ddd;}

.wiFiInsightContentBox{display: none;}
.wiFiInsightContentBox.current{display: block;}
.ghzSignalTags{margin-top: 1rem;text-align: center;}
.ghzSignalTags .ghzSignalTag{border:1px solid #B5A7A7;color:#9E9696;background-color: #fff;padding:4px 8px;
  box-shadow: 1px 2px 4px 1px;font-size: 1.5rem;display:inline-block ;width: 13%;margin:0 5px;}
  .ghzSignalTags .ghzSignalTag.current{box-shadow:0px 0px 1px 0px;border:1px solid #42AECE;color:#528EDE;font-weight: 800;background-color: #B5B5B5;}
.ghzSignalTags .desc{color:#9E9696;font-size:1.5rem;}

/*speeds tag styles*/
#devicesSpeeds{padding:1rem;}
.devicesSpeedsTop>p{margin:0;}
.devicesSpeedsTop .speedsTitle{font-size: 2em;color:#69A3F0;text-align: center;margin: 0.6rem 0;font-weight: 600}
.devicesSpeedsTop .speedsState{font-size: 1.5rem;color:#888;text-align: center;}
.devicesSpeedsTop .speedsGrade{display:inline-block;}
.connectedDevicesSpeedsContainer{position:relative;}
.closeSingleSpeedsBtn{
  position:absolute;
  font-size:1.7rem;
  top:0;right:0;
}
