.SettingsDiagnosticsContainer{
  position:relative;
  width:99%;
  margin:55px auto;
}
.SettingsDiagnosticsContainer p{text-align: center;font-size: 1.8rem;margin: 5px 0;}
p.diagnosticsTitle{font-size: 2.3rem;font-weight: 700;text-align: center;margin:1rem 0 2rem 0;}
p.diagnosticsFooter{margin:20px 0 30px 0;color:#0000FF;}

.diagnosticsOn, .diagnosticsOff{
  font-size: 2rem;
  line-height: 2;
  width:100%;
  color: #ABA9AA;
  font-weight: 400;
  text-align: center;
  position:relative;
}
.diagnosticsOn{
  margin-bottom: 2rem;
  // bottom:3rem;
}
.diagnosticsOff{bottom:0.5rem;}
.diagnosticsOff.current, .diagnosticsOn.current{color:#0000FF}
/**/
.privacyPolicyInfoContent{
  width:98%;
  height:100%;
  overflow: auto;
  margin:53px auto;
  position:relative;
}
.privacyPolicyInfoContent article{
  margin-top:1rem;
}
.privacyPolicyInfoContent article h1{
  text-align: center;
  font-size:2.5rem;
  font-weight: 700;
}
.privacyPolicyInfoContent article p{
  text-align: center;
  font-size:1.7rem;
  margin-bottom:2rem;
}
.privacyPolicyInfoContent section{
  margin:0 2rem;
  word-wrap: break-word;
  word-break: keep-all;
  text-align: left;
}
.privacyPolicyInfoContent section h2{
  font-size:1.5rem;
  font-weight: 700;
}
.privacyPolicyInfoContent section p,.privacyPolicyInfoContent section div{
  font-size:1.4rem;
  text-align: justify;
  margin-bottom: 2rem;
}
.privacyPolicyInfoContent section div ul{
  margin-left:1.4rem;
}
.privacyPolicyInfoContent section div li{
  list-style: initial;
}
