.DashboardRouterConditionsContainer{margin: 50px 0; overflow: hidden; width:100%;box-sizing: border-box;}
.routerStatusContent {
    padding: 0px 0;
    bottom: 0px;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.routerUl{border-bottom: 2px solid #ddd;overflow: hidden;box-sizing:border-box;}
.routerUl li{float: left;width:33.33%;padding:2px 0;}
.routerUl li p{text-align:center;margin: 0;font-size: 1.5rem;border-right: 2px solid #ddd;color:#AB9A9B;}
.routerUl li:last-child p{border:none;}
.routerUl li p.current{color:#69A3F0;font-weight: 700}
.routerContentBox{display: none;}
.routerContentBox.current{display: block;}
.routerContentBox .routerStatusTitle{font-size: 2em;color:#0000ff;text-align: center;margin: 20px 0 5px 0}
.routerStatusBottom{border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;overflow: hidden;}
.routerStatusBottom .routerStatusBottomTab{
  float:left;
  width:27%;
  text-align: center;
  display:inline-block;
  line-height: 2rem;
  font-size:1rem;
  border-bottom: 2px solid transparent;
}
.routerStatusBottom .routerStatusBottomTab:last-child{
    width:19%;
}
.routerStatusBottom .routerStatusBottomTab.current {border-bottom-color:#69A3F0;color: #69A3F0;font-weight: 600;}
.routerStatusBottom .statusBottomContent{display:none;}
.routerStatusBottom .statusBottomContent.current{display:block;}
