
.dashboardContent{padding-top:52px;padding-bottom:49px;}
ul,li{
	list-style: none;
}
textarea {
resize: none;
}
.clearfix:after {content:"."; display:block; height:0; visibility:hidden; clear:both; }
.clearfix { *zoom:1; }
/*react-bootstrap-css*/
.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}
.inline{display: inline-block;text-align: center;}
.wi-slider {padding: 0 5px 0 5px;}
.wi-slider .slider.slider-horizontal {width: 95%;}
.wi-slider .slider-selection {background: #7cb5f4;}
.wi-slider .controlBtn span{font-size: 20px;line-height: 1;color: #0480be;}
/*react-bootstrap-css end*/
.flt{float:left;}
.frt{float:right;}
.pa{position:absolute;}
.pr{position:relative;}
.p-red {
	color: #ff1508;
}
.p-green {
	color: #0b9b10;
}
.p-bold {
	font-weight: 800!important;
}
.timeSelection{margin-top: 6px;}
.timeSelection ul{overflow: hidden;padding:0 20px;box-sizing:border-box;}
.timeSelection ul li{float:left;width:16.66%}
.timeSelection ul li p:first-child{margin: 0 auto;border-top: 2px solid transparent;box-sizing:content-box;width:35%;}
.timeSelection ul li p:last-child{margin:5px 0;text-align: center;color:#888;}
.timeSelection ul li.current p:first-child{border-top-color:#5F3DC3}
.timeSelection ul li.current p:last-child{color:#000;}
.scrollBackground{
  margin:0;padding:0;
  width:100%;
  height:2000px;
  z-index: 0;
}
.contentFixed{
  position: fixed;top:0;left:0;z-index: 5;
}

.loadingSpinContainer{width:0;position:absolute;left:50%;}
.noDataContainer{
  width:100%;
  height: 100%;
  text-align: center;
  position: relative;
}
.noDataContainer p{
  position: relative;
  top:50%;
  transform: translateY(-50%);
  font-size:2.5rem;
  line-height: 2.5;
  text-align: center;
}

/*顶部导航*/
.navbarDiv{
  box-shadow: 0px 3px 4px #bbb;
  position:fixed !important;
  top:0px !important;
  width:100%;
  height:50px;
  background-color: #fff;
  z-index: 1000;
}
.navbarDiv .navbarRight{
  padding-right: 20px;
  float:right;
  line-height: 50px;
}
.navbarDiv .navTitle{
  position: absolute;
  left:50%;
  transform:translate(-50%,0);
  font-size: 1.8rem;
  line-height: 50px;
  font-weight: 700;
}
.navbarDiv .navTitleText{
  line-height: 25px;
  text-align: center;
}
.navbarDiv .navTitleText .deviceInfoTitle{
  font-size: 1.2rem;
  font-weight: 400;
}
.navbarDiv .navTitle img{
  height: 43px;
  vertical-align: middle;
}
.navbarDiv .navbarLeft{
  padding-left: 20px;
  float:left;
  line-height: 50px;
}
.navbarDiv .navbarRight img{
  vertical-align: middle;
  width:40px;
}
/*顶部导航结束*/

/*底部菜单*/
.appTabBar{
  z-index: 9999;
  height:49px;
  padding:0px 0;
  box-shadow: 0px -3px 4px #bbb;
  position:fixed;
  bottom:0px;
  width:100%;
  display: -webkit-flex;
	display: flex;
	justify-content: space-around;
	align-items: center;
  background-color: #fff;
}

/*子选项*/
.SubNavOption{
  position:fixed;
  top:50px;
  width:100%;
  background: #fff;
  box-sizing: border-box;
  z-index: 1100;
}
.SubNavOption ul,.SubNavOption li{
  list-style: none;
  padding: 0;
  margin:0;
}
.SubNavOption ul{
  box-shadow: 0px 3px 4px #bbb;
  overflow: hidden;
}
.SubNavOption li{
  float:left;
  line-height: 40px;
  overflow: hidden;
  text-align: center;
  height:40px;
  border-bottom: 3px solid transparent;
  font-weight: 700;
  color:#888;
  font-size:1.5rem;
  /*border-bottom: 3px solid red;*/
}
.SubNavOption li.current{
  border-bottom-color:#69A3F0;
  color:#69A3F0;
}
