.SettingsCounter{
  padding-top:53px;
  padding-bottom: 50px;
}
.SettingsCounter span{
  color:#8F8E94;
}
.SettingsCounter ul{
  padding-left: 15px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}
.SettingsCounter li{
  list-style: none;
  margin:0;
  padding:1.9rem 0;
  font-size: 1.6rem;
    font-weight: 600;
  border-bottom: 1px solid #ddd;
}
.SettingsCounter li:last-child{
  border:none;
}
.SettingsCounter li img{
  float:right;
  margin-top:8px;
  margin-right: 15px;
}
